fastapi>=0.109.2
uvicorn>=0.27.1
google-generativeai>=0.8.3
pinecone>=6.0.0
langchain-text-splitters>=0.3.6
pymongo[srv]>=4.11.2
python-multipart>=0.0.9
pydantic>=2.6.1
pdfplumber>=0.11.4
python-docx>=1.1.2
python-dotenv>=1.0.1
